
button #PrevMonth {
	display: inline;
}


header{
	text-align: center;
	font-size: 3em;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 15px;
	/*border: 2px dashed black;*/
}

#sidebar {
	border: 2px solid black;
	width: 30%;
	display:inline-block;
	margin-left: -20px;
	/*float: left;*/
	white-space: normal;
}

.control-buttons {
	display: inline;
}

#navbar {
	/*float: right;*/
	display:inline-block;
	border: 1px dashed green;
	margin-right:-20px;
	width:20%;
	white-space: normal;
}

#logout-box{
	border: 1px dashed brown;
}

table {
	display:inline-block;
	width: 50% !important;
	margin-left: 10px;
	margin-right: 10px;
	border: 2px solid white;
	white-space: normal;
}

#page {
	/*border: 2px solid pink;*/
	white-space: nowrap;
}
